nav {
  padding: 0.8em;
}

nav a {
  margin: 0em 0.5em 0em 0.5em;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  color: black;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.header-container {
  position: sticky;
  top: 0px;
  background-color: #eeeeee;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 999;
  border-bottom-color: #697897;
  border-bottom-style: solid;
  border-width: 1px;
}

.header-item {
  background-color: #697897;
  color: #fff;
  border-radius: 5%;
  font-size: 7px;
  padding: 5px;
  margin: 2px;
  width: 90px;
  height: 90px;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  border-color: aqua;
}
