.flex-container-login {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  margin: 5px;
  justify-content: center;
}
.flex-item {
  padding: 5px;
  width: 20em;
  height: 1em;
  margin: 5px;
  color: black;
}

.flex-button {
  width: 20em;
  height: 2em;
  margin: 6px;
  align-self: center;
}
